@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap");

.text-custom {
  color: #001969;
  font-family: "Comfortaa", sans-serif;
}

.button-custom {
  background-color: #001969;
}

.button-custom:hover {
  background-color: #002bb9;
  transform: scale(1.1);
}

.allcards {
  display: flex;
  flex-direction: column;
  margin: 50px;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  img {
    max-width: 50vw;
    max-height: 30vh;
    margin: 10px;
  }
}

@media (width > 900px) {
  .quote-square {
    display: flex;
    align-items: center;
  }

  .allcards {
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;

    .photoinside {
      display: flex;
      justify-content: space-around;
    }

    img {
      margin: 10px;
    }
  }
}
