.item-li {
  font-weight: 700;
  font-size: 24px;
}

.item-li:hover {
  transform: scale(1.2);
  cursor: pointer;
  filter: drop-shadow(1px 1px 10px #013cff);
}

.custom-submit {
  background-color: #001969;
}
