.footer-class {
    display: flex;
    background-color: #1a202c; /* Fondo oscuro */
    color: #ffffff;
    padding: 2rem 1rem;
    margin-top: 2rem; /* Asegura espacio entre el footer y el contenido anterior */
  }
  