.cover {
    display: flex;
    flex-direction: column; /* Layout vertical */
    background:
        url('/wallpaper-art.png'),
        linear-gradient(to bottom, #00008B, #000);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
}



